@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.center {
  text-align: center;
}

table {
  width: 25%;
  margin: auto;
}

td a {
  color: rebeccapurple;
  text-decoration: none;
  font-weight: bold;
}

td a:hover {
  text-decoration: underline;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-body {
  text-align: justify;
}

img {
  width: 400px;
}

.tech-section div {
  width: 500px;
  margin: 15px auto;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.c-purple {
  color: rebeccapurple;
}

.c-orange {
  color: orange;
}

.c-green {
  color: green;
}

.c-pink {
  color: rgb(248, 143, 161);
}
